{%extends "home/base.html"%}
{%load cloudinary%}


{%block content%}

<div class="container">

    
    <div class="">
        <img src="{{photo.image_link.url}}" alt="" class="img-responsive w-75 mb-4">
    </div>
    
    <div class="d-flex justify-content-end bg-primary">

        {% for comment in comments %}
        <br>
        <div>
        <p class="justify-content-center"> {{comment.main}}</p></div>
        
        <small> {{comment.name}}</small>
        <br>

        {% endfor %}
       

    </div>
<br>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">add comment</button>
    </form>


</div>


{%endblock content%}